.menu{
    background-color: pink;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.credit{
    font-size: 1.2em;
    font-family: monospace;
    font-weight: bold;
    color: crimson;
}
input{
    width: 50px;
}